.card-btn {
  background: #5c415d;
  color: #c89933;
  padding: 1rem;
  cursor: pointer;
}
.card {
  user-select: none;
  max-width: 90%;
  display: grid;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  &__main {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .description {
      margin: 0.5rem 0;
      font-size: 0.8rem;
      height: 6rem;
      overflow-y: scroll;
      overscroll-behavior-y: scrool;
      color: #a89ec9;
      resize: none;
      background: transparent;
    }
    .tokenInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins {
          margin-left: -0.3rem;
          margin-right: 0.5rem;
        }
      }
      .duration {
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: 0.2rem;
        i {
          font-size: 2rem;
          cursor: pointer;
          &:hover {
            color: #c89933;
          }
        }
        ins {
          margin: 0.5rem;
          margin-bottom: 0.4rem;
        }
      }
    }
    .creator {
      display: flex;
      align-items: center;
      margin-top: 0.2rem;
      margin-bottom: -0.3rem;
      ins {
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img {
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transition: 0.5s all;
  &__btn-container {
    position: absolute;
    right: -1.2rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    button {
      box-shadow: 2px 0px 8px black;
    }
    button:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }

  &__tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  &:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 39px -5px rgba(0, 0, 0, 0.6666666667);
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before {
      filter: brightness(0.5);
      top: -100%;
      left: 200%;
    }
  }
}
