<div class="card" title="{{ product.title }} ">
  <ng-container *ngIf="user$ | async as user">
    <div
      class="card__btn-container"
      *ngIf="utilsService.canShowAdminProperty(user) && !edit"
    >
      <button
        mat-flat-button
        color="accent"
        (click)="navigateUser('edit', product)"
      >
        Editar
      </button>
      <button mat-flat-button color="warn">Deletar</button>
    </div>
  </ng-container>

  <div class="card__main">
    <div class="card__image-container">
      <img
        class="card__tokenImage"
        [src]="
          !product.image.length || product.image === ['']
            ? 'https://placehold.co/600x400?text=Produto'
            : product.image
        "
        [alt]="product.title"
      />
    </div>
    <h2>{{ product.title.slice(0, 20) }}</h2>
    <textarea class="description">{{ product.description }}</textarea>
    <div class="tokenInfo">
      <div class="price">
        <p>{{ product.price | currency : "BRL" : true }}</p>
      </div>
      <ng-container *ngIf="user$ | async as user">
        <div *ngIf="!utilsService.canShowAdminProperty(user)" class="duration">
          <i
            (click)="addToCart(product)"
            title="adicionar ao carrinho"
            class="material-icons"
          >
            add_shopping_cart
          </i>
        </div>
      </ng-container>
    </div>
  </div>
  <a class="card-btn" (click)="navigateUser('details', product)"
    >Ver Detalhes</a
  >
</div>
