.shopping-cart {
  &__table {
    &__quantity-row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      i {
        cursor: pointer;
      }
      & > * {
        margin-right: 1rem;
      }
    }
  }
}
