.home {
  &__container {
    background-color: #ededed;
    position: relative;
    // width: 100%;
    // display: grid;
    // padding:01rem;
    // gap:1rem;
    // grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    // height: auto;
    // cursor: pointer;
  }
  &__btn {
    &--create {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  &__category-title {
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Montserrat";
    color: #694966;
  }
}
::ng-deep .p-carousel .p-carousel-content {
  .p-carousel-items-content {
    padding: 3rem 0;
  }
}
