<div class="home__container">
  <ng-container *ngFor="let productCategories of products$ | async; index as i">
    <h1 class="home__category-title">{{ productCategories.category }}</h1>
    <p-carousel
      [value]="productCategories.items"
      [numVisible]="4"
      [numScroll]="2"
      [circular]="true"
      [autoplayInterval]="carouselAutoPLay * (i + 1)"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <app-product-card
          (productToAdded)="addToCart($event)"
          [product]="product"
        ></app-product-card>
      </ng-template>
    </p-carousel>
  </ng-container>
</div>
<p-toast
  [breakpoints]="{ '920px': { width: '40%' } }"
  [style]="{ 'font-size': '12px', width: '20%' }"
  position="top-center"
></p-toast>
